scikit-learn
cv2
imutils
numpy
pairwise
os
webbrowser
openai
datetime
random
numpyasnp
cv2
pyttsx3
speech_recognition
datetime
wikipedia
webbrowser
os
random
cv2
pywhatkit
sys
pyautogui
time
operator
requests